.add-item-page {
  /* display: flex; */
  justify-content: left;
  align-items: left;
  height: 100vh;
}

.add-item-form {
  width: 100%;
  max-width: 500px;
}

.add-item-input {
  margin-bottom: 10px;
}

.error-message {
  color: rgba(255, 0, 0, 0.6);
  margin-right: 20px;
  margin-bottom: 5px;
}

.error-message::before {
  content: '⚠ ';
}

.page-title-text {
  /* margin-bottom: '20px'; */
  justify-content: left;
  align-items: left;
  justify-self: left;
  align-content: flex-start;
}

.listings-page-header {
  /* display: flex; */
  justify-content: space-between;
  margin: 15px;
  margin-bottom: 40px;
  /* margin-left: 104px;
  margin-right:104px; */
}
