.page-title-text {
  /* margin: 5px; */
  font-size: 2em;
  font-weight: bold;
  display: 'flex';
}
.search-input {
  display: flex;
  align-items: center;
}

.listings-page-body {
  /* margin-left: 6vw;
  margin-right: 6vw; */
  margin: 40px;
}
#multiple-checkbox {
  height: 15px;
  /* width: 50px; */
}

#multiple-checkbox-label {
  color: #C41230;
}
